body 
{
  background-color: #F8F8F8;
  font-size: 62.5%;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.8;
}

#wrap 
{
  width: 70em;
  padding: 1em;
  margin: 3em auto 2em auto;
  border: 1em solid #CCC;
  background-color: #FFF;
}

#footer
{
  font-size: 1.2em;
  border-top: 0.5em solid #EEE;
  padding-top: 1em;
  margin-top: 1em;
}

#footer p.info, #footer p.links
{
  float: left;
  margin: 0 3em 0 0;
}

#footer p.avatar
{
  float: right;
}

#footer p.license
{
  text-align: center;
  clear: both;
}

#header h1 
{
  font-size: 1.8em;
  display: inline;
}

#header a
{
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 1em;
  color: #AAA;
}

#header a:hover
{
  color: #666;
}


a
{
  color: #33A;
  font-weight: bold;
  text-decoration: underline;
}

a:hover
{
  color: #000;
}

#contents
{
  min-height: 30em;
}

#contents p
{
  font-size: 1.2em;
}


.wip
{
  margin-top: 1em;
  border: 0.5em solid #F8F8F8;
  padding: 1em;
}


/* HOMEPAGE */

#home #articles, #home #posts
{
  float: left;
  padding: 1em;
}

#home #posts
{
  width: 32.5em;  
  padding-left: 0;
}

#home #articles
{
  width: 33.5em;
  border-left: 1px solid #CCC;
}

#home h2
{
  font-size: 1.4em;
}

#home #articles li li
{
  margin-left: 2em;
  list-style-type: disc;
}

#home #articles a
{
  font-size: 1.2em;
}



